  {% extends 'department/base.html' %}
{% load static %}


{% block content %}

     <style type="text/css">
  .btn-primary{
    background: linear-gradient(to right,#6f448b, #ED5565);
    transition
  }
  .btn-primary:hover{
    background: linear-gradient(to right,#34495e, #6f448b);
    transition: opacity 1s linear;
  }
</style>     

           <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h5 class="m-0">Client Briefs</h5>
        </div>
        <div class="card-body">


          <div class="card">
              <div class="card-header" style="background: linear-gradient(to right,#6f448b, #ED5565); color: #fff">
                <h3 class="card-title">All Briefs in one place!</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 100px">Dates</th>
                      <th>Clients</th>
                      <th>Prices(Max)</th>
                      <th style="width: 100px">Deadlines</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if briefs %}
                      {% for item in briefs %}
                      
                        <tr>
                          <td><a href="{% url 'department:brief_detail' item.id %}">{{ item.pub_date }}</a></td>
                          <td><a href="{% url 'department:brief_detail' item.id %}">{{ item.client }}</a></td>
                          <td>
                            <a href="{% url 'department:brief_detail' item.id %}">{{ item.max_price }}</a>
                          </td>
                          <td ><span class="badge bg-danger">{{ item.time_range }}</span></td>
                        </tr>
                        <style type="text/css">
                          .badge{
                            background: linear-gradient(to right,#6f448b, #ED5565);
                          }
                        </style>

                      {% endfor %}

                    {% else %}
                      <tr>
                        <td></td>
                        <td>Sorry, Nothing Yet!</td>
                        <td>
                          Sorry, Nothing Yet!
                        </td>
                        <td>Sorry, Nothing Yet!</td>
                      </tr>
                    {% endif %}

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- /.card -->


        </div>
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->



            
          

{% endblock %}