 {% extends 'department/base.html' %}
{% load static %}


{% block content %}





    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h5 class="m-0">Project Details</h5>
        </div>

          <div class="card-body">
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">{{ project.title }}'s Full Details</h3>
                    </div>

                    <div class="card-body p-0">
                      <ul class="products-list product-list-in-card pl-2 pr-2">


                        <li class="item">
                          <div>
                            Project Details
                            <span class="product-description">
                              {{ project.title }} | {{ project.project_id }}
                            </span>
                          </div>
                        </li>

                        <li class="item">
                          <div>
                            Production Status
                            <span class="product-description">
                              {{ project.status }}
                            </span>
                          </div>
                        </li>

                        <li class="item">
                          <div>
                            Delivery Date
                            <span class="product-description">
                              {{ project.delivery_date }}
                            </span>
                          </div>
                        </li>

                        <li class="item">
                          <div>
                            Projects Drawings
                            <span class="product-description">
                              {% if project.presentation_drawing %}
                                <a href="{{ project.presentation_drawing.url }}" download> Presentation Drawing </a> |
                                {% endif %}
                                {% if project.production_drawing %}
                                <a href="{{ project.production_drawing.url }}" download> Production Drawing </a> |
                                {% endif %}
                                {% if project.optimized_production_drawing %}
                                <a href="{{ project.optimized_production_drawing.url }}" download> Optimized Production Drawing </a>
                                {% endif %}
                            </span>
                          </div>
                        </li>

                        <li class="item">
                          <div>
                            Client Quotation.
                            <span class="product-description">
                              <small>Click link to see this project's quotation.(<a href="{% url 'department:quotation_detail' project.quotation.id %}">See Quotation</a>)</small>
                            </span>
                          </div>
                        </li>

                        <li class="item">
                          <div>
                            Design Quotation.
                            <span class="product-description">
                              {% if project.design_quotation %}
                              Click to see, <a href="{{ project.design_quotation.url }}" download> Design Quotation </a>

                              {% else %}
                                <b style="color: red;">Sorry, no design quotation yet!</b>
                              {% endif %}
                            </span>
                          </div>
                        </li>


                        <li class="item">
                          <div>
                            Images
                            <span class="product-description">
                              <small>See images for this project.(<a href="#">See Images</a>)</small>
                            </span>
                          </div>
                        </li>

                        <li class="item">
                          <div>
                            Production Details
                            <span class="product-description">
                              <small>Click to download the following production details.</small><br />
                              {% if project.cutting_detail %}
                                <a href="{{ project.cutting_detail.url }}" download>Cutting Details</a> |
                              {% endif %}

                              {% if project.edge_banding_detail %}
                                <a href="{{ project.edge_banding_detail.url }}" download>Edge Banding Details</a> |
                              {% endif %}


                              {% if project.cnc_detail %}
                                <a href="{{ project.cnc_detail.url }}" download>CNC Details</a>
                              {% endif %}

                            </span>
                          </div>
                        </li>

                        <li class="item">
                          <div>
                            Here are the materials used for this project.
                            <span class="product-description">
                              <a href="#">See More!</a>
                            </span>
                          </div>
                        </li>

                        <li class="item">
                          <div>
                            Assembly Details
                            <span class="product-description">
                              {% if project.assembly == True %}
                                <b style="color: green;">Yes!, this project has been assembled!</b>

                              {% else %}
                                <b style="color: red;">No!, this project hasn't been assesmbled!</b>
                              {% endif %}
                            </span>
                          </div>
                        </li>

                        <li class="item">
                          <div>
                            Cleaning Details
                            <span class="product-description">
                              {% if project.cleaning == True %}
                                <b style="color: green;">Yes!, this project has been cleaned!</b>

                              {% else %}
                                <b style="color: red;">No!, this project hasn't been cleaned!</b>
                              {% endif %}
                            </span>
                          </div>
                        </li>


                        <li class="item">
                          <div>
                            Dispatch Details
                            <span class="product-description">
                              {% if project.dispatch == True %}
                                <b style="color: green;">Yes!, this project has been dispatched!</b>

                              {% else %}
                                <b style="color: red;">No!, this project hasn't been dispatched!</b>
                              {% endif %}
                            </span>
                          </div>
                        </li>

                        <li class="item">
                          <div>
                            Installation Details
                            <span class="product-description">
                              {% if project.installation == True %}
                                <b style="color: green;">Yes!, this project has been assembled!</b>

                              {% else %}
                                <b style="color: red;">No!, this project hasn't been assesmbled!</b>
                              {% endif %}
                            </span>
                          </div>
                        </li>


                        <li class="item">
                          <div>
                            Spray Details
                            <span class="product-description">
                              {% if project.spray == True %}
                                <b style="color: green;">Yes!, this project has been sprayed!</b>

                              {% else %}
                                <b style="color: red;">No!, this project hasn't been sprayed!</b>
                              {% endif %}
                            </span>
                          </div>
                        </li>


                        <li class="item">
                          <div>
                            Frame Details
                            <span class="product-description">
                              {% if project.frame == True %}
                                <b style="color: green;">Yes!, the frames for this project has been made!</b>

                              {% else %}
                                <b style="color: red;">No!, the frames for this project hasn't been made!</b>
                              {% endif %}
                            </span>
                          </div>
                        </li>

                        <li class="item">
                          <div>
                            ICT Details
                            <span class="product-description">
                              {% if project.ict == True %}
                                <b style="color: green;">Yes!, this project has reached the ICT Department.</b>

                              {% else %}
                                <b style="color: red;">No!, this project hasn't reached the ICT Department.</b>
                              {% endif %}
                            </span>
                          </div>
                        </li>



                      </ul>
                    </div>



                </div>
              </div>


                {% if department.name == "upholstery" %}

                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Project Quotation!</h3>
                      </div>

                        <div class="card-body">   
                          

                            <b>Click the button below to view and reply the client quotation for this project</b>
                            <br />
                            <div class="card-footer">
                              <small>Submit your reviews and quotation for this client's quotation</small>
                              <br />
                              <a href="{% url 'department:quotation_detail' project.quotation.id %}" class="btn btn-primary">View Client Quotation</a>
                            </div>



                        </div>

                  </div>
                </div>
                

                  <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Confirm the Installation of this Project</h3>
                      </div>

                        <div class="card-body">

                          <form method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                            <div class="form-check">
                              <input name="installation" type="checkbox" class="form-check-input" id="exampleCheck1">
                              <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>

                            </div>
                          </div>
                        
                        <div class="card-footer">
                          <small>click the box above and confirm!</small>
                          <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>

                        </form>



                        </div>

                  </div>
                </div>

                {% endif %}






            </div>


      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->




{% endblock %}

